@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";
svg {
  vertical-align: baseline;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-btn-primary {
  background: #1890ff !important;
}

.ant-table-empty .ant-table-tbody > tr > td {
  border: 0 !important;
}

.input-hidden div.ant-form-item-control-input {
  height: 0px !important;
  min-height: 0px !important;
}

.input-hidden {
  margin-bottom: 0px !important;
}

.input-hidden .ant-form-item-control {
  margin-bottom: 10px;
}
